@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&family=Lemon&family=Open+Sans:wght@400;600&family=Spline+Sans:wght@400;500;600&display=swap");

body {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  font-family: "Inter";
  background-color: white;
  color: black;
  /* 추후 바꿔줄 것 */
}

ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}